/*=========================================================
    폰트 패밀리
=========================================================*/
@font-face {
    font-family: 'MaplestoryOTFLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*=========================================================
    공통
=========================================================*/
:root{
    /* 폰트 */
    --font-Light:'MaplestoryOTFLight';
    --font-Medium:'MaplestoryOTFBold';
    --font-Bold:'MaplestoryOTFBold';

    /* 컬러 */
    --background-color:#ededed;
    --white-color:#fff;
    --black-color:#0a0a0a;
    --black2-color:#111;

    --gray-color:#757575;
    --gray-color2:#414141;
    --gray-color3:#676767;
    --gray-color4:#595959;

    --main-color:#0359AE;
    --sub-color:#0359AE;
    --error-color:#e00012;
}

html{
    height:100%;
}

body{
    margin:0;
    height:100%;
    background:#f5f6f7;
    font-family:var(--font-Light);
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

input{
    font-family:var(--font-Light);
}

select{
    font-family:var(--font-Light);  
}

::placeholder{
    color:#000;
}

label{
    font-family:var(--font-Light);    
    color:var(--black2-color);
}


/*=========================================================
    멤버쉽 전체 박스
=========================================================*/
#membership{
    width:100%;
    position:relative;
    top:9%;
}


/*=========================================================
    헤더
=========================================================*/
#header{
    text-align:center;
    /* padding-top:10%; */
    /* padding-bottom:5%; */
}

img#logo{
    width:270px;
}


/*=========================================================
    컨테이너
=========================================================*/
#container{
    position:relative;
    /* height:100%; */
}

#content{
    /* position:absolute;
    left:50%;
    transform: translate(-50%); */
    width:460px;
    margin:0 auto;
}


/*=========================================================
    입력 폼
=========================================================*/
h3{
    margin:19px 0 8px;
    font-size:14px;
    font-weight:700;
}


.box{
    display:block;
    width:100%;
    height:51px;
    border:1px solid #dadada;
    padding:10px 14px 10px 14px;
    box-sizing:border-box;
    background:var(--white-color);
    position:relative;
    border-radius: 20px;
}


.int{
    display:block;
    position:relative;
    width:100%;
    height:29px;
    border:none;
    background:var(--white-color);
    font-size:15px;
}




.box.int_pass{
    padding-right:40px;
}


.box.int_pass_check{
    padding-right:40px;
}


input#id, input#pswd1, input#pswd2,
input#name,input#nick, input#yy, select#mm, input#dd,
select#gender, input#email, input#mobile, input#age{
    outline:none;
}




/*=========================================================
    비밀번호 아이콘
=========================================================*/
.pswdImg{
    width:18px;
    height:20px;
    display:inline-block;
    position:absolute;
    top:50%;
    right:16px;
    margin-top:-10px;
    cursor: pointer;
}



/*=========================================================
    생년월일
=========================================================*/
#bir_wrap {
    display: table;
    width: 100%;
}


#bir_yy {
    display: table-cell;
    width: 147px;
    
}


#bir_mm {
    display: table-cell;
    width: 147px;
    vertical-align: middle;
}


#bir_dd {
    display: table-cell;
    width: 147px;
}


#bir_mm, #bir_dd {
    padding-left: 10px;
}


select {
    width: 100%;
    height: 29px;
    font-size: 15px;
    background: #fff url(../image/sel_arr_2x.gif) 100% 50% no-repeat;
    background-size: 20px 8px;
    -webkit-appearance: none;
    display: inline-block;
    text-align: start;
    border: none;
    cursor: default;
}



/*=========================================================
    에러메시지
=========================================================*/
.error_next_box {
    margin-top: 9px;
    font-size: 12px;
    color:var(--error-color); 
    display: none;
}


#alertTxt {
    position: absolute;
    top: 18px;
    right: 38px;
    font-size: 12px;
    color:var(--error-color);
    display: none;
}



/*=========================================================
    버튼
=========================================================*/
.btn_area {
    /* margin: 30px 0 91px; */
    margin: 30px 0 30px;
}


#btnJoin {
    width: 100%;
    padding: 21px 0 17px;
    border: 0;
    cursor: pointer;
    color: #fff;
    background-color:var(--main-color);
    font-size: 20px;
    font-weight: 400;
    font-family:var(--font-Light);
}  


#btnJoin:hover{
    opacity:0.8;
}