<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/find_id.css" />
    <script defer src="../js/find_id.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/9ad05a77c3.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>아이디 찾기</title>

    <script>
        function findId() {
            let form = document.getElementById('form_find_id');

            if (!form.checkValidity()) {
                form.reportValidity();
                return false;
            }

            axios({
                method: 'post',
                url: 'http://localhost:8000/user/find_id',
                data: {
                    name: form.name.value,
                    email: form.email.value
                }
            }).then((rep) => {
                return rep.data;
            }).then((data) => {
                console.log(data);
                // alert('로그인을 환영합니다.');
                // document.location.href = 'http://localhost:8000/';
            })
        }
    </script>
</head>

<body>
    <div id="login">
        <div id="header">
            <a href="http://localhost:8000/" target="_blank">
                <img id="logo" src="../image/logo-5.png" alt="logo">
            </a>
        </div>

        <div id="container">
            <form id="form_find_id">
                <div id="content">

                    <!-- 이름 -->
                    <div>
                        <span class="box int_id">
                            <input type="text" name="name" id="name" class="int" maxlength="20" placeholder="이름" required>
                            <i class="fa fa1 fa-user"></i>
                        </span>
                        <span class="error_next_box"></span>

                    </div>


                    <!-- 이메일 -->
                    <div>
                        <span class="box int_pass">
                            <input type="text" name="email" id="email" class="int" maxlength="20" placeholder="이메일"
                                required>
                            <i class="fa fa2 fa-envelope"></i>
                        </span>
                        <span class="error_next_box"></span>
                    </div>



                    <!-- 아이디 찾기 -->
                    <div class="btn_area">
                        <button type="button" id="btnJoin" onclick="findId();">
                            <span>아이디 찾기</span>
                        </button>                     
                    </div>
            </form>
        </div>
    </div>
    </div>


</body>

</html>