<footer id="footer">
    <div class="layout con">
        <div class="menu">
            <ul class="row">
                <li class="cell"><a href="http://localhost:8000/">룩포웨더</a></li>
                <li class="cell"><a href="/weather">날씨정보</a></li>
                <li class="cell"><a href="/ootd">코디리뷰</a></li>
                <li class="cell"><a href="/memo">커뮤니티</a></li>
                <li class="cell"><a href="/mypage">마이페이지</a></li>
            </ul>
        </div>
        <div class="address">
            <div class="line_txt">조장 : 함유정</div>
            <div>팀원 : 방장원, 서윤지, 정예현, 최상훈</div>
        </div>
        <div class="copy">
            Copyrightⓒ 록포웨더. All Rights Reserved.
        </div>
        <div class="site-box row">
            <div class="relate-site cell">
                <div class="box-1">
                    패밀리사이트
                </div>
                <ul>
                    <a href="https://github.com/team5-LookForWeather" target="_blank" onclick="return false">
                        <li>룩포웨더 깃헙 사이트</li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
</footer>