<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/membership.css" />
    <script defer src="./js/membership.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title>회원가입</title>
</head>
<body>
    <div id="membership">
        <div id="header">
            <a href="#" target="_blank">
                <img id="logo" src="./image/logo-5.png" alt="logo">
            </a>
        </div>

        <div id="container">
            <div id="content">

                <!-- 아이디 -->
                <div>
                    <h3 class="join_title">
                        <label for="id">아이디</label>
                    </h3>
                    <span class="box int_id">
                        <input type="text" id="id" class="int" maxlength="20" required onfocus="outline(this);">
                    </span>
                    <span class="error_next_box"></span>

                </div>


                <!-- 비밀번호 -->
                <div>
                    <h3 class="join_title"><label for="pswd1">비밀번호</label></h3>
                    <span class="box int_pass">
                        <input type="password" id="pswd1" class="int" maxlength="20" required>
                        <span id="alertTxt">사용불가</span>
                        <img src="./image/icon/check-1.png" id="pswd1_img1" class="pswdImg">
                    </span>
                    <span class="error_next_box"></span>
                </div>


                <!-- 비밀번호 재확인 -->
                <div>
                    <h3 class="join_title"><label for="pswd2">비밀번호 재확인</label></h3>
                    <span class="box int_pass_check">
                        <input type="password" id="pswd2" class="int" maxlength="20" required>
                        <img src="./image/icon/check-1-2.png" id="pswd2_img1" class="pswdImg">
                    </span>
                    <span class="error_next_box"></span>
                </div>


                <!-- 이름 -->
                <div>
                    <h3 class="join_title"><label for="name">이름</label></h3>
                    <span class="box int_name">
                        <input type="text" id="name" class="int" maxlength="20" required>
                    </span>
                    <span class="error_next_box"></span>
                </div>

                <!-- 닉네임 -->
                <div>
                    <h3 class="join_title">
                        <label for="id">닉네임</label>
                    </h3>
                    <span class="box int_nick">
                        <input type="text" id="nick" class="int" maxlength="20" required>
                    </span>
                    <span class="error_next_box"></span>

                </div>                


                <!-- 생년월일 -->
                <div>
                    <h3 class="join_title"><label for="yy">생년월일</label></h3>

                    <div id="bir_wrap">
                        <!-- 년도 -->
                        <div id="bir_yy">
                            <span class="box">
                                <input type="text" id="yy" class="int" maxlength="4" placeholder="년(4자)">
                            </span>
                        </div>

                        <!-- 월 -->
                        <div id="bir_mm">
                            <span class="box">
                                <select id="mm" class="sel">
                                    <option>월</option>
                                    <option value="01">1</option>
                                    <option value="02">2</option>
                                    <option value="03">3</option>
                                    <option value="04">4</option>
                                    <option value="05">5</option>
                                    <option value="06">6</option>
                                    <option value="07">7</option>
                                    <option value="08">8</option>
                                    <option value="09">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>
                            </span>
                        </div>

                        <!-- 일 -->
                        <div id="bir_dd">
                            <span class="box">
                                <input type="text" id="dd" class="int" maxlength="2" placeholder="일">
                            </span>
                        </div>

                    </div>
                    <span class="error_next_box"></span>
                </div>


                <!-- 성별 -->
                <div>
                    <h3 class="join_title"><label for="gender">성별</label></h3>
                    <span class="box gender_code">
                        <select id="gender" class="sel">
                            <option>성별</option>
                            <option value="M">남자</option>
                            <option value="F">여자</option>
                        </select>
                    </span>
                    <span class="error_next_box">필수 정보입니다.</span>
                </div>


                <!-- 이메일 -->
                <div>
                    <h3 class="join_title"><label for="email">본인확인 이메일<span class="optional">(선택)</span></label></h3>
                    <span class="box int_email">
                        <input type="text" id="email" class="int" maxlength="100" placeholder="선택입력">
                    </span>
                    <span class="error_next_box">이메일 주소를 다시 확인해주세요.</span>
                </div>

                <!-- 전화번호 -->
                <div>
                    <h3 class="join_title"><label for="phoneNo">휴대전화</label></h3>
                    <span class="box int_mobile">
                        <input type="tel" id="mobile" class="int" maxlength="16" placeholder="전화번호 입력">
                    </span>
                    <span class="error_next_box"></span>
                </div>


                <!-- 가입하기 -->
                <div class="btn_area">
                    <button type="button" id="btnJoin">
                        <span>가입하기</span>
                    </button>
                </div>

                <div>
                    <span class="copy">
                        <br>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("input").focus(function () {
                $(this.parentNode).css('border', '1px solid #0359AE');
            })

            $("input").blur(function () {
                $(this.parentNode).css('border', '1px solid #dadada');
            })
        })

        $(document).ready(function () {
            $("select").focus(function () {
                $(this.parentNode).css('border', '1px solid #0359AE');
            })

            $("select").blur(function () {
                $(this.parentNode).css('border', '1px solid #dadada');
            })
        })
    </script>
</body>
</html>